<section id="about">
    <h2>About Me</h2>
    <hr class="section-line">
    <div class="content-box">
      <div class="profile">
        <img src="assets/profile.jpg" alt="Sai Likhitha Nagaraju" class="profile-picture">
      </div>
      <p>Hello, I am Sai Likhitha Nagaraju, a business analyst with a strong background in project management and data analysis, particularly within the e-commerce sector...</p>
      <p>Currently, I am pursuing a Master’s degree in Information Systems at Pace University...</p>
      <p>For more information or to discuss further, please feel free to contact me at my email.</p>
    </div>
  </section>
  