<header>
  <div class="header-container">
    <div class="header-left">
      <h1>Sai Likhitha Nagaraju</h1>
      <p>Masters in Information Systems at Pace University</p>
      <hr class="header-line">
    </div>
    <div class="theme-switcher">
      <label class="switch">
        <input type="checkbox" id="theme-toggle">
        <span class="slider round"></span>
      </label>
      <span id="theme-label">Light Mode</span>
    </div>
    <div class="hamburger" id="hamburger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <nav class="navbar" id="navbar">
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#certifications">Certifications</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
