<section id="projects">
    <h2>Projects</h2>
    <hr class="section-line">
    <div class="content-box">
      <h3>E-commerce Webpage Service</h3>
      <ul>
        <li>Enhanced user experience and streamlined transaction processes</li>
        <li>Implementation for prominent brands such as Myntra and various Indian clothing retailers</li>
      </ul>
      <p>This project aimed to boost user engagement and conversion rates by providing a seamless shopping experience.</p>
    </div>
  
    <div class="content-box">
      <h3>Business Analyst Projects</h3>
      <ul>
        <li>Conducting comprehensive market research...</li>
        <li>Utilizing advanced data analysis techniques...</li>
      </ul>
      <p>These projects shaped data-driven strategies that improved operational efficiency and competitive positioning.</p>
    </div>
  </section>
  